
/* Less variables */
@background-color-default: #fff; /*#EEF2F6;*/
@background-color-container: #69AB79;
@services-color:#008000;
@min-height: 550px;
@main-font:"FuturaND-Bold";

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
	font-family: Arial;
}

header {
	margin: 0 auto 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #2b2b2b;
	color:#999999;
}

.footer div:nth-child(2)
{
  float:left; 
}

.footer div:nth-child(3)
{
  float:right;
  margin-right:6px; 
}

.footer div:nth-child(3) span:nth-child(2)
{
  margin-left:18px;
  color:#12A058;
}

.footer-separator-line {
	border-top: 1px solid #515151;
    margin: 12px 0 12px 6px;
    width: 94%;	
}


/* Common */

.common-font-style{
  
}

/* (End) Common */

/* Main */

.main-container {
	width: 1920px;
	height: 1080px;
	cursor: pointer;
	background: url("../Images/home.jpg");
	
}


.main-title{
  color: #FFFFFF;
    font-family: "FuturaND-Bold";
    font-size: 62px;
    letter-spacing: 11px;
    padding: 14% 0 0 4%;
    text-transform: uppercase;
}

/* (End) Main */

/* Header */

.divider-vertical {
	height: 34px;
	margin: 9px 9px;
	border-left: 1px solid #515151;
	border-right: 1px solid #515151;
}

.nav-logo {
	margin-top: -10px;
	margin-left: -24px;
	margin-right: -16px;
	margin-bottom: -8px;
}

.nav-logo-description {
	padding-left: 4px;
	color: white;
	font-family: arial;
}

.navbar-brand img {
	cursor: pointer;
}

.gobal-social-network-twitter {
  margin: 14px 2px 0 0;  
  height: 27px;
  width: 28px;
  background: url("../Images/social-networks-sprite.png") no-repeat -96px -2px; 
}

.gobal-social-network-twitter:hover {
  background: url("../Images/social-networks-sprite.png") no-repeat -96px -36px;
  cursor:pointer;
}

.gobal-social-network-facebook {
  margin-top: 14px;
  height: 27px;
  width: 28px;
  background: url("../Images/social-networks-sprite.png") no-repeat -62px -2px; 
}

.gobal-social-network-facebook:hover{
  background: url("../Images/social-networks-sprite.png") no-repeat -62px -36px;
  cursor:pointer;
}

.gobal-social-network-email {
  height: 21px;
  width: 21px;
  background: url("../Images/email.jpg") no-repeat;
  margin: 18px -10px 0 2px;
  cursor:pointer;
}


/* (End) Header */

/*  Contact  */

.contact-form-container{
  background-color: @background-color-container;
  border: 1px solid #f6f6f6;
  height: auto;
  margin: 20px auto 0;
  padding: 40px 0 60px 40px;
  position: relative;
  width: 408px;
  box-shadow: 10px 10px 5px #888888;
  clear:both;  
}

.contact-main-container {
    background-color: @background-color-default;
    height:560px;
}

.contact-main-container input[type="text"], input[type="email"] {
	height: 36px;
	width: 300px;
	background-color: #f6f6f6;
	border: solid 1px #c5c5c5;
	margin-top: 2px;
	padding-left: 6px;
	font-size: 16px;
	text-overflow: ellipsis;
	font-style: italic;
}

.contact-main-container a {
	font-size: 16px;
	text-overflow: ellipsis;
	font-style: italic;
	cursor: pointer;
	color:#fff;
}

.contact-main-container textarea {
	width: 300px;
	background-color: #f6f6f6;
	border: solid 1px #c5c5c5;
	margin-top: 2px;
	padding-left: 6px;
	font-size: 16px;
	text-overflow: ellipsis;
	font-style: italic;
	resize: none;
}

.contact-item-container {

}

.contact-item-right-container {
	float: right;
	margin-right: 64px;
	margin-top: 8px;
}

.contact-tile{
 color: #008000;
    font-family: @main-font !important;
    font-size: 38px;
    margin-bottom: 16px;
    margin-top: 16px;
}

/* (End) Contact  */

/* Home */

.feature{
	color: green;
    font-family: @main-font;
    font-size: 48px;
    position: absolute;
    top: 20%;
    left:4%;
    font-style: italic;
    float: left;
}

/* (End) Home */

/* Company */

.company-main-container{
	background-color: @background-color-default;
	min-height:@min-height;
}

/* (End) Company */


/* Services */

.services-main-container{
  background-color: @background-color-default;
  padding-bottom:20px;
}

.services-top-container{
;    
}

.services-content-1{
    color: @services-color;
    font-family: @main-font;
    font-size: 26px;
    font-style: italic;
    margin-top: 50px;
    text-align: left  
}

.services-content-2{
    color: @services-color;
    font-family: @main-font;
    font-size: 22px;
    font-style: italic;
    font-weight:bold;
    margin-top: 20px;
    text-align: left;
    letter-spacing:6px;    
    line-height:20px;
}

.services-content-2 div:first-letter{
  color:#fff;
  background-color:green;
  font-size:22px;
  box-shadow:1px 1px 10px #888;
}

/* (End) Services */

/* BLog */

.blog-main-container{
  float:left;
  background-color: @background-color-default;  
  min-height:@min-height;
  width:100%;
}

.blog-top-container{
    color: @services-color;
    font-family: @main-font;
    font-size: 28px;
    font-style: italic;
    margin: 20px 0 0 170px;
    text-align: left;
    width: 80%;
    display:block;
}

/* (End) Blog */


